{% extends 'header.html' %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 22rem;">
        <div class="card-header bg-dark text-white text-center">
            <h4 class="mb-0">Inicio de sesión</h4>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Usuario" required>
                </div>
                <div class="mb-4">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
